* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#ai-section {
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0;
  background-color: #05398b;
}

#user-section {
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 0;
  background-color: #5cdb95;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #edf5e1;
  height: 50%;
  width: 50%;
  border-radius: 40px;
}

.mic {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
